<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://unpkg.com/feather-icons"></script>
    <title>beepr.</title>
  </head>
  <body>
    <header>
      <div class="header-wrapper">
        <h1>beepr.</h1>
        <p>
          A free, mobile-minded, Planning Center integration to page parents
          during church.
        </p>
        <a class="cta" href="/auth/login">Try</a>
      </div>
    </header>
    <main>
      <div class="main-wrapper">
        <h2>How it works</h2>
        <section>
          <i data-feather="key" width="48px" height="48px" stroke="#1c7ed6"></i>
          <h3>Login with PCO</h3>
          <p>
            Our app uses your Planning Center account to find active services
            and check-ins associated with those services. This way you don’t
            have to remember another password!
          </p>
        </section>
        <section>
          <i data-feather="tag" width="48px" height="48px" stroke="#1c7ed6"></i>
          <h3>
            Security code<br />
            on claim tags
          </h3>
          <p>
            By using the unique security code on the child’s claim tag, our app
            is able to look up the emergency contact on file.
          </p>
        </section>
        <section>
          <i
            data-feather="send"
            width="48px"
            height="48px"
            stroke="#1c7ed6"
          ></i>
          <h3>Automated texts</h3>
          <p>
            A text message is sent to the emergency contact on file to let them
            that their assistance is required at their child’s classroom.
          </p>
        </section>
        <section>
          <h3>
            That's it. Simple right? <br /><a href="/auth/login"
              >Try it this Sunday.</a
            >
          </h3>
        </section>
      </div>
    </main>
    <script>
      feather.replace()
    </script>
  </body>
</html>
